@import "tailwindcss";

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: #e73c50;
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.3485 0.058 259.813);
  --chart-2: oklch(0.268 0.101 267.815);
  --chart-3: oklch(0.235 0.137 270.881);
  --chart-4: oklch(7.423% 0.00983 326.47);
  --chart-5: oklch(0.182 0.11 273.638);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.242 0.136 270.85);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.708 0 0);

  /* custom colors*/
  --success: oklch(0.7316 0.1782 152.82);
  --success-foreground: oklch(0.982 0.018 155.826);
  --warning: oklch(0.795 0.184 86.047);
  --warning-foreground: oklch(0.421 0.095 57.708);
  --info: oklch(0.5624 0.2404 264.4);
  --info-foreground: oklch(0.97 0.014 254.604);
}
